.div {
    display: flex;
    flex-direction: column;
    font-family: "Prompt-Regular";
}

.label {
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: "Prompt-Regular";
}

.input {
     margin-bottom: 10px;    
     font-family: "Prompt-Regular"; 
}
.required {
    color: red;
    font-family: "Prompt-Regular";
}